.container {
  background-color: black;
}

button {
  width: 70px;
  border: none;
  outline: none;
  border-radius: 50px;
  margin: 200px;
  padding: 4px 0;

}
.is-off {
  background-color: red;
}

.is-on {
  background-color: green;
}